<section class="wrap">
    <div class="container container-title">
        <h1 class="title">Início</h1>
        <mat-form-field appearance="outline" [formGroup]="formFilter">
            <mat-label>Pesquisar</mat-label>
            <input matInput formControlName="filter" placeholder="Pesquisar">
        </mat-form-field>
    </div>
</section>

<ng-container *ngIf="list && list.results; else notFoundItems">
    <section class="wrap">
        <section class="container">
            @for (item of list.results; track $index) {
            <mat-card class="flex-container" appearance="outlined">
                <mat-icon (click)="toogleFavorite(item)"
                    [ngClass]="{'icon-favorite': true, 'outline': !isFavorite(item.id)}">
                    favorite{{ !isFavorite(item.id) ? '_outline' : '' }}
                </mat-icon>
                <img mat-card-image [src]="item.image" [alt]="item.name">
                <mat-card-content>
                    <p class="subtitle">{{item.name}}</p>
                    <p class="subsubtitle">{{item.species}}</p>
                </mat-card-content>
            </mat-card>
            }
        </section>
    </section>

    <section class="wrap">
        <mat-paginator 
            [length]="length" 
            [pageSize]="pageSize" 
            [pageSizeOptions]="[20]"
            [showFirstLastButtons]="true" 
            (page)="getPage($event)">
        </mat-paginator>
    </section>
</ng-container>

<ng-template #notFoundItems>
    <app-page-not-found></app-page-not-found>
</ng-template>