<main>

    <custom-toolbar></custom-toolbar>

    <section class="wrap">
        <div class="container container-title">

            <h1 class="title">Início</h1>
            <mat-form-field appearance="outline" [formGroup]="formFilter">
                <mat-label>Pesquisar</mat-label>
                <input matInput formControlName="filter" placeholder="Pesquisar">
            </mat-form-field>
        </div>
    </section>

    <app-rick-and-morty></app-rick-and-morty>

    <router-outlet />