<section>
    <mat-toolbar class="app-navbar">
        <div class="spa-logo">
            <img [src]="logoUrl">
        </div>


        <section class="section-button">
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <button mat-fab extended>
                            <mat-icon>favorite</mat-icon>
                            Disabled
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <div class="box-btns">
            <span class="box-items">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>home</mat-icon>
                </button>
                <span>Início</span>
            </span>

            <span class="box-items">
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>

                <!-- <button mat-icon-button class="example-icon favorite-icon">
                    <mat-icon>circle</mat-icon>
                </button> -->

                <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>circle</mat-icon>
                  </button> -->

                <span>Favoritos</span>


                <span class="icon-favorite-box">
                    <span class="icon-favorite">1</span>
                </span>


                <span class="favorite-icon-number">
                    <span class="icon-number">
                        <span>1</span>
                    </span>
                </span>
            </span>
        </div>

    </mat-toolbar>

</section>