<section>
    <mat-toolbar class="app-navbar">
        <div class="spa-logo">
            <img [src]="logoUrl">
        </div>


        <div class="box-btns">
            <span class="box-items">
                <button mat-icon-button>
                    <mat-icon>home</mat-icon>
                </button>
                <span>Início</span>
            </span>

            <span class="box-items">
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>

                <span>Favoritos</span>

                <span class="favorite-icon-number">
                    <span class="icon-number">
                        <span>{{favorites.length}}</span>
                    </span>
                </span>
            </span>
        </div>

    </mat-toolbar>

</section>