.app-navbar {
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.spa-logo {
    max-width: 9.2rem;
    img {
        height:  64px;
    }
  }

.box-container {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 10px;
  border: 1px solid #666;
  
  .box-container-item {
    padding-right: 14px;
    display: flex;
    align-items: center;

    &:first-child {
          a {
            color: black;
          }
      background-color: white;
      border-radius: 10px 0 0 10px;
      color: black;
    }

    &:last-child {
      gap: 5px;
      
      a {
        color: white;
      }
    }
  }
}

.box-favorite-number {
  margin-left: 12px;
  width: 28px;
  text-align: center;
  position: relative;
  
  .icon-number {
    position: relative;
    line-height: 0;
    z-index: 10;
    color: black;
    font-size: 14px;
  }
  .circle-number {
    position: absolute;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    top: 0;
    right: 0;
    line-height: 0;
    background-color: white;
  }
}