<section>
    <mat-toolbar class="app-navbar">
        <div class="spa-logo">
            <img [src]="logoUrl">
        </div>

        <section class="box-container">
            <div class="box-container-item">
                <button mat-icon-button>
                    <mat-icon>home</mat-icon>
                </button>
                <a routerLink="/characters" routerLinkActive="menu-custom-active" ariaCurrentWhenActive="page">Início</a>
            </div>
            
            <div class="box-container-item">
                <button mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                </button>
                <a routerLink="/favorites" [routerLinkActive]="'menu-custom-active'" ariaCurrentWhenActive="page">
              Favoritos
            </a>
                <span class="box-favorite-number">
                    <span class="icon-number">
                        {{favorites.length}}
                    </span>
                    <span class="circle-number"></span>
                </span>
            </div>
        </section>

    </mat-toolbar>

</section>