
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$spa_desafio_mottu-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($spa_desafio_mottu-theme);
}

$colorRick: #00B5CC;

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($spa_desafio_mottu-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($spa_desafio_mottu-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #1F1F1F;
}

p {
  margin: 0;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}

.wrap {
  display: flex;
  justify-content: center;

  .container {
    width: 720px;
max-width: 720px;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
flex-flow: row wrap;
justify-content: flex-start;

   &.container-title {
    align-items: start center;
    justify-content: space-between;
   }

  }
}

.flex-container {
  display: flex;
  flex: calc(100%/4);
  position: relative;
  max-width: 222px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline; // flex-start;
  flex-wrap: wrap;
  align-content: stretch; // flex-start; // stretch;// space-around;
  img {
    width: 100%;
  }

  mat-card-content {
    color: white;

    p {
      width: 190px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;   
    }
  }

  div {
      flex: 100%;
      padding: 10px 0;
      background-color: aquamarine;
      border: 1px solid red;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}


.title {
width: 110px;
height: 48px;

font-family: 'Creepster';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 100%;
/* identical to box height, or 48px */
letter-spacing: -0.02em;
color: $colorRick;
// border: 2px solid #B2DF28;
/* elevation/m */
text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
// text-shadow: 3px 3px 3px #ababab;

-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #B2DF28;
}

.subtitle {
font-family: 'Creepster';
font-style: normal;
font-weight: 400;
font-size: 1.4em;
line-height: 100%;
height: 24px;
margin: 16px 0 8px;
}

.subsubtitle {
  font-family: 'Poppins';
  font-style: normal;
  line-height: 100%;
  letter-spacing: -0.02em;
  height: 24px;
  color: #FAFAFA;  
}

.icon-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
  cursor: pointer;
  
  &.outline {
      color: white;
  }
}

.menu-custom-active {
  color: $colorRick !important;
}
