.wrap {
    color: white;
    font-family: 'Poppins';

}

.container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
    
    section {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;

        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        button {
            margin-top: 14px;
            background-color: #fff;
        }

        h3 {
            font-size: 22px;
            font-weight: 700;
            margin: 10px auto;
        }
    }
  }